version: '3.8'

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    network_mode: host
    environment:
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE:-America/Santiago}
      - TZ=${TZ:-America/Santiago}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_SECURE_COOKIE=false
      - DB_SQLITE_POOL_SIZE=10
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
    volumes:
      - n8n_data:/home/node/.n8n
    stdin_open: true
    tty: true

volumes:
  n8n_data:
    driver: local